<form>
    <div class="mb-3">
        <label class="form-label">First Name</label>
        <input type="text" class="form-control" #inputFirstName>
    </div>

    <div class="mb-3">
        <label class="form-label">Last Name</label>
        <input type="text" class="form-control" #inputLastName>
    </div>

    <div class="mb-3">
        <label class="form-label">Mobile Number</label>
        <input type="number" class="form-control" #inputMobileNumber>
    </div>

    <div class="mb-3">
      <label class="form-label">Email address</label>
      <input type="email" class="form-control" #inputEmail aria-describedby="emailHelp">
    </div>
    
    <div class="mb-3">
      <label class="form-label">National ID</label>
      <input type="number" class="form-control" #inputNationalID>
    </div>

    <div class="mb-3">
        <label class="form-label">Age</label>
        <input type="number" class="form-control" #inputAge>
    </div>

    <button type="submit" (click)="addStudent(inputFirstName.value,inputLastName.value,inputMobileNumber.value,inputEmail.value,inputNationalID.value,+inputAge.value)" class="btn btn-primary">Submit</button>

  </form>