 
 <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">ID</th>
        <th scope="col">Name</th>
        <th scope="col">Mobile</th>
        <th scope="col">Email</th>
        <th scope="col">NationalID</th>
        <th scope="col">Age</th>
      </tr>
    </thead>
    <tbody>
      <tr >
        <th scope="row"> </th>
       
        <td>{{student.ID}}</td>
        <td> {{student.Name}} </td>
        <td>{{student.Mobile}}</td>
        <td>{{student.Email}}</td>
        <td>{{student.NationalID}}</td>
        <td>{{student.Age}}</td>

      </tr>
    
    </tbody>
  </table>