.root{
    -fx-background-color:#ABB3FF;
}
Button{
 -fx-text-fill: black;
 -fx-font-family: Arial,Helvetica,sans-serif;
 -fx-font-size: 14px;
 -fx-background-color:white;
 -fx-border-color:white;
}
Button:hover {
  -fx-background-color: #C2C7FF;
   -fx-text-fill: white;
}
Label{
 -fx-text-fill: white;
}

ImageView {
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);
    -fx-stroke-width: 2.0;
    -fx-border-radius: 20 20 20 20;
    -fx-background-radius: 10 10 10 10;
    -fx-padding: 10;
    -fx-background-color: firebrick;
}